#contacts_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  flex: 1 1 0;
  list-style: none;

  margin: 1rem 0;

  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.contact {
  border-radius: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  height: 6rem;

  margin-inline: 2rem;
  padding: 1rem;
}

.contact:hover {
  background-color: var(--bg-color-contact-hover);
  cursor: pointer;
}

.contact.selected {
  background-color: var(--bg-color-contact-selected);
}

.contact .avatar {
  height: 3rem;
  width: 3rem;

  position: relative;
}

.contact .avatar img {
  border-radius: 50%;

  height: 100%;
  width: 100%;
}

.contact .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact .info span:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact .info span:nth-child(2) {
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0;

  opacity: 0.7;
}

.contact .notification {
  background-color: var(--secondary);
  border-radius: 50%;

  box-shadow: 0 0 0 1px var(--bg-color-secondary);

  height: 0.5rem;
  width: 0.5rem;

  position: absolute;

  bottom: 0;
  left: 0;

  transform: translate(50%);
}
