main header {
  justify-content: flex-start;
  gap: 1rem;
}

main header .info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

main header .info span:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

main header .info span:nth-child(2) {
  color: var(--secondary);

  font-size: 0.75rem;
  font-weight: normal;
}

main footer {
  background-color: var(--bg-color-secondary);
  outline: 1px solid var(--border-color);
}

main footer form {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
}

main footer form #user_message {
  color: var(--text-color);

  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;

  font-size: 14px;
  letter-spacing: 1px;

  outline: none;

  height: 2.75rem;
  width: 100%;

  padding: 1rem;
}

main footer form #user_message:focus {
  box-shadow: var(--ring);
}

main footer form #user_message::placeholder {
  color: var(--gray-400);
}

main footer form button {
  background-color: var(--brand);
  border: none;
  border-radius: 0.5rem;

  height: 2.75rem;
  width: 2.75rem;
  min-height: 2.75rem;
  min-width: 2.75rem;

  outline: none;

  padding: 0.75rem;
}

main footer form button:focus {
  box-shadow: var(--ring);
}

main footer form button:hover {
  cursor: pointer;
  filter: brightness(1.2);

  box-shadow: var(--ring);
}

#messages {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  flex: 1 1 0;

  height: 100%;
  padding: 2rem;

  max-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.message-date {
  display: flex;
  justify-content: center;
}

.message-date span {
  background-color: var(--border-color);
  border-radius: 0.5rem;
  color: var(--text-color);

  font-size: 0.75rem;
  font-weight: 300;

  padding: 0.5rem;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.message .content {
  border-radius: 0 1rem 1rem;
  background-color: var(--gray-400);
  color: var(--gray-50);
  box-shadow: 0.1rem 0.25rem 0.5rem rgb(0 0 0 / 0.2);

  width: fit-content;
  max-width: 30rem;

  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-align: justify;

  padding: 1rem;
  margin: 0 2rem 0 0;
}

.message span {
  color: var(--gray-400);
  font-size: 0.75rem;
}

.right {
  align-items: flex-end;
}

.right .content {
  background-color: var(--secondary);
  border-radius: 1rem 1rem 0;
  margin: 0;
}
