.hidden {
  display: none;
}

div.content {
  display: flex;
  flex: 1;

  height: 100%;
  width: 100%;
}

aside {
  background-color: var(--bg-color-secondary);
  outline: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;

  min-width: 24rem;
  width: 24rem;

  z-index: 5;
}

aside h3 {
  letter-spacing: 1px;
  margin: 2rem 2rem 0;
}

main {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  min-width: 30rem;
}
